* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f7f7f7;
  overflow-x: hidden;
}

/* header_navbar */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  color: white;
  padding: 20px 40px;
  border-bottom: black 2px solid;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item a {
  text-decoration: none;
  color: white;
}

.item {
  font-size: 17px;
  display: flex;
  gap: 20px;
}

.login {
  background-color: #0a6ebd;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 5px;
}

.login a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

/* content */

.judul {
  background-color: #2196f3;
  padding: 20px;
  text-align: center;
}

.judul h2 {
  color: white;
  padding: 20px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.menu {
  margin-top: 20px;
  background-color: grey;
  max-width: 550px;
  width: 100%;
  height: 650px;
  border-radius: 10px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu svg {
  width: 400px;
  height: 400px;
  color: black;
}

.menu a {
  text-decoration: none;
}

.menu p {
  font-size: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.menu-full {
  max-width: 1140px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-bottom: 20px;
}

.menu-full a {
  text-decoration: none;
}

.menu-full svg {
  width: 200px;
  height: 200px;
  color: black;
}
.menu-full p {
  font-size: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
}

/* footer */

.footer {
  background: #2196f3;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: solid black 2px;
}

.footer-kiri h3 {
  font-size: 25px;
  font-weight: bold;
}

.medsos {
  display: flex;
  gap: 10px;
}

.medsos svg {
  width: 50px;
  height: 50px;
  color: black;
}

.footer-bawah {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
